params {
    inputdir = "$projectDir/data/*_R{1,2}_001.fastq"
    outputdir = "$projectDir/resultados"
    ref_1806DB_fasta = "$projectDir/ref_align/1806DB.ng.fasta"
    ref_1806DB_tax = "$projectDir/ref_align/1806DB.tax"
    ref_629_aln_cut = "$projectDir/ref_align/629ref_aln_cut.fas"
    prefix = "spun"
    outdir = "resultados"
}

manifest {
    name = 'julianafeliz/nextaxon'
    description = "blablabla"
    author = "Juliana"
    version = "1.0.1"
}

process {
    withName: 'MOTHUR_ANALYSIS' {
        conda = "bioconda::mothur=1.48.0"
        container = "quay.io/biocontainers/mothur:1.38.1.1--boost1.60_0"
    }
    withName: 'MAFFT_ALIGN' {
        container = "quay.io/biocontainers/mafft:7.515--hec16e2b_0"
    }
}

docker {
    enabled = true
    // Uncomment the next line if you're using Docker Desktop on Windows
    // runOptions = '-u $(id -u):$(id -g)'
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
