params {
    inputdir = "/mnt/c/Users/julia/nextaxon/data/*_R{1,2}_001.fastq"
    outputdir = "/mnt/c/Users/julia/nextaxon/resultados"
    ref_1806DB_fasta = "/mnt/c/Users/julia/nextaxon/ref_align/1806DB.ng.fasta"
    ref_1806DB_tax = "/mnt/c/Users/julia/nextaxon/ref_align/1806DB.tax"
    ref_629_aln_cut = "/mnt/c/Users/julia/nextaxon/ref_align/629ref_aln_cut.fas"
    prefix = "spun"
    outdir = "resultados"
}

manifest {
    name = 'julianafeliz/nextaxon'
    description = "blablabla"
    author = "Juliana"
    version = "1.0.1"
}

process {
    withName: 'MOTHUR_ANALYSIS' {
        conda = "bioconda::mothur=1.48.0"
    }
    withName: 'MAFFT_ALIGN' {
        conda = "bioconda::mafft=7.515"
    }
}

conda {
    enabled = true
    useMamba = true
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capture Nextflow log files
timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    overwrite = true
}
